html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* first section body styling */
.container {
  background-image: url(./images/revolt-164_6wVEHfI-unsplash.jpg),
    url(./images/federico-beccari-L8126OwlroY-unsplash.jpg),
    radial-gradient(#444, #111);
  background-position: center;
  background-size: cover;
  background-blend-mode: difference;
}
/* navbar styling */
header {
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
}
.logo {
  margin-right: auto;
}

.nav-links {
  list-style: none;
  display: flex;
}
.nav-links a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: green;
}
.nav-items {
  padding: 0 15px;
}

#aboutme {
  background-color: paleturquoise;
  border-radius: 6rem;
}

.btn {
  padding: 0 3%;
}
.btn:focus {
  transform: scale(1.1);
}
.btn:hover {
  color: yellow;
}
/* styling the projects */
.navbar ul ul {
  display: none;
}
.navbar ul li:hover > ul {
  display: block;
  list-style: none;
  color: red;
  background-color: black;
}
.landing-page {
  color: white;
  text-align: center;
  padding: 5rem;
}
/* actual landing-page styiling */
.main-title {
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 5rem;
  text-shadow: 4px 4px 10px green;
}
.name {
  text-transform: uppercase;
  font-size: 3.3rem;
}
.lead {
  font-size: 1.3rem;
}
.button {
  background-color: blue;
  font-size: 1rem;
  border-radius: 4rem;
}
.box {
  background-image: url(./images/imani-bahati-LxVxPA1LOVM-unsplash.jpg),
    url(./images/timbs.jpg), radial-gradient(#444, #111);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  color: white;
}
#projects div {
  font-size: 2rem;
  padding: 4% 0;
  list-style: circle;
}
#projects h3 {
  font-size: 5rem;
}

#about-me {
  padding: 0 7%;
}
#about-me h4 {
  font-size: 2.4rem;
  line-height: 1.8rem;
}
